<header
  class="relative flex flex-row items-center justify-center w-full px-3 py-2 bg-yellow-500 gap-x-28"
>
  <p class="text-xl font-bold text-center max-w-80 text-pretty">
    Nos adelantamos al verano: 50% OFF, Solo por HOY!
  </p>
  <main class="flex gap-6">
    <span
      class="flex flex-col items-center px-2 py-4 text-white rounded-md bg-blue-950"
    >
      <span class="text-5xl font-semibold">00</span>
      <span class="text-xs">Días</span>
    </span>
    <span
      class="flex flex-col items-center px-2 py-4 text-white rounded-md bg-blue-950"
    >
      <span class="text-5xl font-semibold">00</span>
      <span class="text-xs">Horas</span>
    </span>
    <span
      class="flex flex-col items-center px-2 py-4 text-white rounded-md bg-blue-950"
    >
      <span class="text-5xl font-semibold">00</span>
      <span class="text-xs">Minutos</span>
    </span>
  </main>
  <span class="flex flex-col items-center justify-center gap-2 px-4">
    <p class="text-lg font-semibold text-center text-pretty">¡Empieza Ya!</p>
    <a
      class="px-3 py-2 text-sm font-semibold text-center text-white transition bg-blue-900 rounded-md text-pretty hover:bg-blue-700"
      href="">Pre-Inscribete!</a
    >
  </span>
</header>

<style></style>
