<footer class="flex flex-row flex-wrap items-center justify-between px-5 py-8">
  <p class="text-gray-300">© 2021, Built with Astro & Tailwind</p>
  <p class="text-gray-300">Made by Danilo José Arenas Yi</p>
</footer>
