---
import MapColombia from "@components/utils/MapColombia.astro";
---

<div class="flex flex-col gap-4 items- mx-auto">
  <h2
    class="text-5xl text-center [text-shadow:0_0_20px_#0f4] mt-12 text-white font-designer"
  >
    Conoce Nuestras Sedes
  </h2>
  <MapColombia />
</div>
