---
import CaseBubble from "@components/utils/CaseBubble.astro";
---

<h2
  class="text-5xl text-center [text-shadow:0_0_20px_#0f4] mt-12 text-white font-designer"
>
  Casos de Exito
</h2>
.
<div class="grid grid-cols-2 grid-rows-2 gap-24 mb-12">
  <CaseBubble
    title="SOFIA CONTRERAS"
    description="Lorem fistrum por la gloria de mi madre esse jarl aliqua llevame al sircoo. De la pradera ullamco qué dise usteer está la cosa muy malar."
    imageUrl="images/Persona.webp"
  />
  <CaseBubble
    title="SOFIA CONTRERAS"
    description="Lorem fistrum por la gloria de mi madre esse jarl aliqua llevame al sircoo. De la pradera ullamco qué dise usteer está la cosa muy malar."
    imageUrl="images/Persona.webp"
  />
  <CaseBubble
    title="SOFIA CONTRERAS"
    description="Lorem fistrum por la gloria de mi madre esse jarl aliqua llevame al sircoo. De la pradera ullamco qué dise usteer está la cosa muy malar."
    imageUrl="images/Persona.webp"
  />
  <CaseBubble
    title="SOFIA CONTRERAS"
    description="Lorem fistrum por la gloria de mi madre esse jarl aliqua llevame al sircoo. De la pradera ullamco qué dise usteer está la cosa muy malar."
    imageUrl="images/Persona.webp"
  />
</div>
