---
import FloatingInfo from "@components/utils/FloatingInfo.astro";
import GradientDivider from "@components/utils/GradientDivider.astro";
import VerticalDivider from "@components/utils/VerticalDivider.astro";

const FloatingInfos = [
  { title: "+ 5.000", subtitle: "Estudiantes a Nivel Nacional" },
  {
    title: "+ 20.000",
    subtitle: "Egresados con Éxito",
  },
  {
    title: "18 Años",
    subtitle: "Educando nuevas generaciones",
  },
];
---

<div class="flex flex-col my-40 gap-28 show-in">
  <GradientDivider />

  <div class="grid grid-cols-1 gap-24 md:grid-cols-3">
    {
      FloatingInfos.map((info) => (
        <FloatingInfo title={info.title} subtitle={info.subtitle} />
      ))
    }
  </div>
  <GradientDivider />
</div>
