---
import BannerText from "@components/utils/BannerText.astro";
---

<main class="flex flex-col items-center">
  <BannerText text="¡Gracias por llegar hasta aqui!" />

  <h2
    class="text-white text-4xl [text-shadow:2px_0px_100px_#0f4] show-in text-center mt-20 mb-5 font-designer"
  >
    ¿Qué es la Fundación Internacional de Educación Integral Elyon Yireh?
  </h2>
  <img src="images/Platforms.webp" class="mt-6 aspect-video rotate" alt="" />
  <p class="text-white text-center text-pretty text-base">
    La Fundación Elyon Yireh, fundada por empresarios de Cartagena, busca
    solucionar el déficit educativo en sectores vulnerables mediante formación
    técnica. Certificada como entidad educativa desde 2006, inició el 10 de
    junio de 2005 con 450 estudiantes. Originalmente en Pie de la Popa, se
    trasladó a Manga y desde 2012 está en Camino del Medio. La corporación tiene
    presencia en Cartagena, Barranquilla, Magangué y Medellín, siendo Cartagena
    la sede principal y más antigua.
    <br />
    <br />
    En nuestra nueva sede en Medellín contamos con licencia de funcionamiento, otorgada
    mediante la Resolución número 202350091646 del 09/11/2023, para ofrecer programas
    educativos de formación y capacitación para el trabajo.
  </p>
</main>
