---
import HorizontalDivider from "@components/utils/HorizontalDivider.astro";
---

<div
  class="bg-gradient-to-b flex flex-col gap-12 md:gap-24 mb-8 from-yellow-500/90 to-transparent w-full overflow-x-hidden py-6 rounded-t-[50px] md:rounded-t-[100px]"
>
  <h1
    class="text-3xl md:text-5xl text-center [text-shadow:0px_0px_30px_#fff] text-white py-14 md:py-28 font-designer"
  >
    ¿Cómo Iniciar con nosotros?
  </h1>
</div>

<main class="flex flex-col items-center gap-y-8">
  <div
    class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-[1fr_1px_1fr] items-center min-h-[60vh] md:min-h-[120vh]"
  >
    <div
      class="top-0 flex items-baseline self-start justify-center gap-4 py-16 overflow-x-hidden lg:sticky sm:relative md:gap-8 md:py-32 phase"
    >
      <span
        class="text-[100px] md:text-[190px] font-roboto font-bold text-center text-yellow-500 drop-shadow-md [text-shadow:0_0_20px_#fc0]"
        >1</span
      >
      <span
        class="text-4xl md:text-6xl font-roboto [text-shadow:0px_0px_20px_#ffffffee] font-semibold text-white"
        >Fase Uno</span
      >
    </div>
    <HorizontalDivider color="yellow" />
    <div
      class="flex flex-col px-4 font-semibold text-center md:px-8 gap-y-8 md:gap-y-16"
    >
      <img
        class="w-full overflow-hidden rotate"
        src="images/Platforms.webp"
        alt="Elyion Yireh Plataformas"
      />
      <p class="text-white">
        Selecciona tu carrera o curso corto de tu interés, y solicita a nuestros
        asesores toda la información que necesites. Ellos podrán suministrarte
        detalles sobre:
      </p>

      <div
        class="flex flex-wrap items-center justify-center gap-4 text-white md:gap-10"
      >
        <span
          class="border text-pretty font-semibold -skew-x-3 rounded-full px-4 md:px-6 py-2 [text-shadow:1px_0px_10px_#fd4] [box-shadow:1px_0px_10px_#fd4] border-yellow-500"
          >Duracion</span
        >
        <span
          class="border text-pretty font-semibold -skew-x-3 rounded-full px-4 md:px-6 py-2 [text-shadow:1px_0px_10px_#fd4] [box-shadow:1px_0px_10px_#fd4] border-yellow-500"
          >Fecha de Inicio</span
        >
        <span
          class="border text-pretty font-semibold -skew-x-3 rounded-full px-4 md:px-6 py-2 [text-shadow:1px_0px_10px_#fd4] [box-shadow:1px_0px_10px_#fd4] border-yellow-500"
          >Pensun</span
        >
        <span
          class="border text-pretty font-semibold -skew-x-3 rounded-full px-4 md:px-6 py-2 [text-shadow:1px_0px_10px_#fd4] [box-shadow:1px_0px_10px_#fd4] border-yellow-500"
          >Valor</span
        >
        <span
          class="border text-pretty font-semibold -skew-x-3 rounded-full px-4 md:px-6 py-2 [text-shadow:1px_0px_10px_#fd4] [box-shadow:1px_0px_10px_#fd4] border-yellow-500"
          >Formas de pago</span
        >
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-[1fr_1px_1fr] items-center min-h-[60vh] md:min-h-[120vh]"
  >
    <div
      class="flex flex-col px-4 font-semibold text-center md:px-8 gap-y-8 md:gap-y-16"
    >
      <img
        class="w-full overflow-hidden rotate"
        src="images/Platforms.webp"
        alt="Elyon Yireh Plataformas"
      />
      <p class="text-white">
        Selecciona tu carrera o curso corto de tu interés, y solicita a nuestros
        asesores toda la información que necesites. Ellos podrán suministrarte
        detalles sobre:
      </p>
    </div>

    <HorizontalDivider color="yellow" />

    <div
      class="top-0 flex items-baseline self-start justify-center gap-4 py-16 lg:sticky sm:relative -order-1 lg:order-1 md:gap-8 md:py-32 phase-reverse"
    >
      <span
        class="text-[100px] md:text-[190px] font-roboto font-bold text-center text-yellow-500 drop-shadow-md [text-shadow:0_0_20px_#fc0]"
        >2</span
      >
      <span
        class="text-4xl md:text-6xl font-roboto [text-shadow:0px_0px_20px_#ffffffee] font-semibold text-white"
        >Fase Dos</span
      >
    </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-[1fr_1px_1fr] items-center min-h-[60vh] md:min-h-[120vh]"
  >
    <div
      class="top-0 flex items-baseline self-start justify-center gap-4 py-16 overflow-x-hidden lg:sticky sm:relative md:gap-8 md:py-32 phase"
    >
      <span
        class="text-[100px] md:text-[190px] font-roboto font-bold text-center text-yellow-500 drop-shadow-md [text-shadow:0_0_20px_#fc0]"
        >3</span
      >
      <span
        class="text-4xl md:text-6xl font-roboto [text-shadow:0px_0px_20px_#ffffffee] font-semibold text-white"
        >Fase Tres</span
      >
    </div>
    <HorizontalDivider color="yellow" />
    <div class="flex flex-col gap-5 px-4 font-semibold text-center md:px-8">
      <img
        class="w-full overflow-hidden rotate"
        src="images/Platforms.webp"
        alt="Elion Yireh Plataformas"
      />
      <p class="text-white">
        Selecciona tu carrera o curso corto de tu interés, y solicita a nuestros
        asesores toda la información que necesites. Ellos podrán suministrarte
        detalles sobre:
      </p>
    </div>
  </div>
</main>
