---
import Layout from "@layouts/Layout.astro";
import Counter from "@sections/Counter.astro";
import Header from "@sections/Header.astro";
import Main from "@sections/Main.astro";
import Programs from "@sections/Programs.astro";
import Curses from "@sections/Curses.astro";
import Info from "@sections/Info.astro";
import Phases from "@sections/Phases.astro";
import HitCases from "@sections/HitCases.astro";
import Headquarters from "@sections/Headquarters.astro";
import FAQ from "@sections/FAQ.astro";
import Footer from "@sections/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <Counter />
  <div class="max-w-6xl my-4 mx-auto relative">
    <Header />
    <div class="my-20">
      <Main />
    </div>
    <div class="flex flex-col gap-28 my-36">
      <Programs />
      <Curses />
    </div>
    <Info />
    <Phases />
    <HitCases />
    <Headquarters />
    <FAQ />
    <Footer />
  </div>
</Layout>
