---
import Layout from "@layouts/Layout.astro";
import Counter from "@sections/Counter.astro";
import Header from "@sections/Header.astro";
import Main from "@sections/Main.astro";
import Programs from "@sections/Programs.astro";
import Curses from "@sections/Curses.astro";
import Info from "@sections/Info.astro";
import Phases from "@sections/Phases.astro";
import HitCases from "@sections/HitCases.astro";
import Headquarters from "@sections/Headquarters.astro";
import FAQ from "@sections/FAQ.astro";
import Footer from "@sections/Footer.astro";
import VerticalDivider from "@components/utils/VerticalDivider.astro";
import GradientDivider from "@components/utils/GradientDivider.astro";
---

<Layout title="Welcome to Astro.">
  <Counter />
  <div class="relative max-w-6xl mx-auto my-4">
    <Header />
    <div class="my-20">
      <Main />
    </div>
    <div class="flex flex-col gap-28 my-36">
      <Programs />
      <Curses />
    </div>
    <Info />
    <Phases />
    <div class="flex flex-col gap-16 my-36">
      <GradientDivider color="green" />
      <HitCases />
      <GradientDivider color="green" />
    </div>
    <Headquarters />
    <FAQ />
    <Footer />
  </div>
</Layout>
