---
import SmokeParticle from "@components/utils/SmokeParticle.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-montserrat">
    <div
      class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_20%,#003577_100%)]"
    >
    </div>
    <SmokeParticle />
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: "Montserrat";
      src: url("fonts/Montserrat-Regular.ttf") format("truetype");
    }

    @font-face {
      font-family: "Designer";
      src: url("fonts/Designer.otf") format("opentype");
    }

    @font-face {
      font-family: "Roboto";
      src: url("fonts/Roboto-Regular.ttf") format("truetype");
    }
  }

  .show-in {
    view-timeline-name: --element;
    view-timeline-axis: block;

    animation-timeline: --element;
    animation-name: show-in;

    animation-range: entry 30% cover 60%;
    animation-fill-mode: both;
  }

  @keyframes show-in {
    from {
      opacity: 0;
      transform: translatey(100px);
    }
    to {
      opacity: 1;
      transform: translatey(0);
    }
  }

  .slide-in {
    view-timeline-name: --element;
    view-timeline-axis: block;

    animation-timeline: --element;
    animation-name: slide-in;

    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translatex(80px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }

  .slide-out {
    view-timeline-name: --element;
    view-timeline-axis: block;

    animation-timeline: --element;
    animation-name: slide-out;

    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
  }

  @keyframes slide-out {
    from {
      opacity: 0;
      transform: translateX(-80px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .floating {
    animation: floating 3s infinite ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .rotate {
    view-timeline-name: --element;
    view-timeline-axis: block;

    animation-timeline: --element;
    animation-name: rotate;

    animation-range: entry 30% cover 50%;
    animation-fill-mode: both;
  }

  @keyframes rotate {
    0% {
      transform: perspective(1000px) rotateX(70deg);
    }
    100% {
      transform: perspective(1000px) rotateX(0deg);
    }
  }

  .phase {
    view-timeline-name: --element;
    view-timeline-axis: block;

    animation-timeline: --element;
    animation-name: phase;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
  }

  @keyframes phase {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .phase-reverse {
    view-timeline-name: --element;
    view-timeline-axis: block;

    animation-timeline: --element;
    animation-name: phase-reverse;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
  }

  @keyframes phase-reverse {
    0% {
      opacity: 0;
      transform: translateX(200px);
      transform:;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      transform:;
    }
  }
</style>
<script></script>
