---
import GradientDivider from "./GradientDivider.astro";

const { text } = Astro.props;
---

<div class="grid grid-cols-[1fr_1fr_1fr] justify-center items-center slide-in">
  <GradientDivider />
  <h3
    class="uppercase text-center text-2xl font-bold italic text-pretty text-white"
  >
    {text}
  </h3>
  <GradientDivider />
</div>
