---
import GradientDivider from "./GradientDivider.astro";

const { text } = Astro.props;
---

<div class="grid grid-cols-[1fr_1fr_1fr] justify-center items-center slide-in">
  <GradientDivider />
  <h3
    class="text-2xl italic font-bold text-center text-white uppercase text-pretty"
  >
    {text}
  </h3>
  <GradientDivider />
</div>
