---
const { href, text } = Astro.props;
---

<a
  href={href}
  class="px-8 py-4 mt-3 text-2xl text-white font-designer bg-[#0c3] shadow-[0px_0px_30px] shadow-green-500 rounded-md hover:shadow-[0px_1px_10px_#00ddaadd] hover:scale-105 transition"
>
  {text}
</a>
