---
import GradientDivider from "./GradientDivider.astro";
import VerticalDivider from "./VerticalDivider.astro";

const { title, description, imageUrl } = Astro.props;
---

<div
  class="flex md:flex-row items-center w-full slide-out gap-6 justify-center rounded-tr-[2500px] rounded-bl-full px-4 md:px-8 py-4 shadow-[1px_4px_20px_#0f4] [background:linear-gradient(149deg,#00000000_10%,rgb(0,50,88)_60%)]"
>
  <img
    class="object-cover w-24 md:w-40 object-right aspect-square lg:scale-150 sm:scale-125 translate-y-5 md:translate-y-10 -translate-x-5 md:-translate-x-10 [clip-path:circle(50%_at_50%_50%)]"
    src={imageUrl}
    alt=""
  />
  <div class="flex flex-col gap-3 md:gap-5 px-2 md:px-4 py-2 text-white">
    <h5
      class="text-2xl md:text-4xl [text-shadow:0px_0px_20px_#0f4] text-center font-designer"
    >
      {title}
    </h5>
    <GradientDivider color="green" />
    <p class="text-center text-pretty">{description}</p>
  </div>
</div>
