---
import GradientDivider from "./GradientDivider.astro";
import MapSVG from "./MapSVG.astro";
import VerticalDivider from "./VerticalDivider.astro";
---

<div class="relative rotate">
  <div class="floating">
    <MapSVG />

    <co-bol
      class="absolute invisible opacity-0 [transition:visibility_0.15s_ease-out,opacity_0.2s_ease-in-out] w-[350px] top-[20rem] -left-44 h-[200px]"
      id="bol-bubble"
    >
      <img
        class="w-full aspect-video object-cover"
        src="https://lh3.googleusercontent.com/p/AF1QipM9Zi8pGneU-Tx3LSNT-BuiHC5HJPjFA8Sdr6zV=s680-w680-h510"
        alt=""
      />

      <div class="absolute top-56 w-full">
        <h3
          class="py-4 text-4xl mb-2 text-center font-designer text-[#0f4] [text-shadow:1px_1px_20px_#af4]"
        >
          Cartagena
        </h3>

        <GradientDivider color="green" />

        <p
          class="absolute text-center mt-2 text-lg [text-shadow:0px_0px_10px_#fff] text-white"
        >
          Horarios de Atención: Lunes a Sabado 8:00 A.M. - 6:00 P.M.
          <br />
          <br />
          Dirección: Camino del Medio Cl 31 A n° 46 -13 Avenida Pedro de Heredia
          <br />
          <br />
          WhatsApp: 316 2877 364
        </p>
      </div>
      <div
        class="w-1 min-h-[164px] border-2 border-dashed absolute top-[3px] -right-28 -rotate-90"
      >
      </div>
      <div
        class="w-1 min-h-[190px] border-2 border-dashed absolute -top-[95px] -right-[15rem] -rotate-[-25deg]"
      >
      </div>
    </co-bol>

    <co-ant
      class="absolute invisible opacity-0 [transition:visibility_0.15s_ease-out,opacity_0.2s_ease-in-out] w-[320px] top-0 -left-32 h-[200px]"
      id="ant-bubble"
    >
      <img
        class="w-full aspect-video object-cover"
        src="https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/316316246_10159261580568811_1648662685467780524_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHt6Mlsb6YSErusoE6LEF0R2vQu4M0JwfHa9C7gzQnB8ZR-PpriFfOB5M45Bx39yXemjsTMjc0Dk-LbFTyidL6w&_nc_ohc=dLPJBMVnv6MQ7kNvgFkfDFb&_nc_zt=23&_nc_ht=scontent.fctg3-1.fna&_nc_gid=AMDytaRYn_Gb2tdPd6TKPyo&oh=00_AYAHYwMehfPT2AlmGry5ej7803FyShWrip8bsFXFLFWupA&oe=672ED4B4"
        alt=""
      />
      <div class="absolute top-56 w-full">
        <h3
          class="py-4 text-4xl mb-2 text-center font-designer text-[#0f4] [text-shadow:1px_1px_20px_#af4]"
        >
          Medellin
        </h3>

        <GradientDivider color="green" />

        <p
          class="absolute text-center mt-2 text-lg [text-shadow:0px_0px_10px_#fff] text-white"
        >
          Horarios de Atención: Lunes a Sabado 8:00 A.M. - 6:00 P.M.
          <br />
          <br />
          Dirección: Camino del Medio Cl 31 A n° 46 -13 Avenida Pedro de Heredia
          <br />
          <br />
          WhatsApp: 316 2877 364
        </p>
      </div>
      <div
        class="w-1 min-h-[208px] border-2 border-dashed absolute -top-[3px] -right-32 -rotate-90"
      >
      </div>
      <div
        class="w-1 min-h-[300px] border-2 border-dashed absolute top-[96.5px] -right-64 -rotate-[7deg]"
      >
      </div>
    </co-ant>

    <co-atl
      class="absolute invisible opacity-0 [transition:visibility_0.15s_ease-out,opacity_0.2s_ease-in-out] w-[350px] top-0 -right-10 h-[200px]"
      id="atl-bubble"
    >
      <img
        class="w-full aspect-video object-cover"
        src="https://static.wixstatic.com/media/e37986_a5dac02be1224f7e98fa3673fa5a104d~mv2.jpg/v1/crop/x_0,y_43,w_800,h_565/fill/w_560,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/elyon-patio.jpg"
        alt=""
      />
      <div class="absolute top-56 w-full">
        <h3
          class="py-4 text-4xl mb-2 text-center font-designer text-[#0f4] [text-shadow:1px_1px_20px_#af4]"
        >
          Barranquilla
        </h3>

        <GradientDivider color="green" />

        <p
          class="absolute text-center mt-2 text-lg [text-shadow:0px_0px_10px_#fff] text-white"
        >
          Horarios de Atención: Lunes a Sabado 8:00 A.M. - 6:00 P.M.
          <br />
          <br />
          Dirección: Camino del Medio Cl 31 A n° 46 -13 Avenida Pedro de Heredia
          <br />
          <br />
          WhatsApp: 316 2877 364
        </p>
      </div>
      <div
        class="w-1 min-h-[288px] border-2 border-dashed absolute -top-[28px] -left-40 -rotate-90"
      >
      </div>
      <div
        class="w-1 min-h-[138px] border-2 border-dashed absolute top-[80.5px] -left-[22.5rem] -rotate-[-60deg]"
      >
      </div>
    </co-atl>
  </div>
</div>

<style>
  .show-bubble {
    visibility: visible;
    opacity: 1;
  }
</style>

<script>
  const COBOL = document.getElementById("COBOL");
  const COANT = document.getElementById("COANT");
  const COATL = document.getElementById("COATL");

  const BOL_BUBBLE = document.getElementById("bol-bubble");
  const ANT_BUBBLE = document.getElementById("ant-bubble");
  const ATL_BUBBLE = document.getElementById("atl-bubble");

  const locations = [
    { element: COBOL, bubble: BOL_BUBBLE },
    { element: COANT, bubble: ANT_BUBBLE },
    { element: COATL, bubble: ATL_BUBBLE },
  ];

  locations.forEach(({ element, bubble }) => {
    element?.addEventListener("mouseover", () => {
      bubble?.classList.add("show-bubble");
    });

    element?.addEventListener("mouseleave", () => {
      bubble?.classList.remove("show-bubble");
    });
  });
</script>
